.simple-nav{
  display: flex;
  justify-content: center;
  ul{
    padding: 0;
    li{
      list-style: none;
      display: inline;
      margin: 1rem;
      a{
        display: inline-block;
        padding: 8px;
        background-color: #dddddd;
      }
    }
  }
}
